<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>【黑黑篮球】</title>
    <script src="/live/js/jquery-3.4.1.js"></script>
    <script src="/live/js/utils.js"></script>
    <script src="/live/js/url.js"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        loadUrl(API_LIVE_HOME)
    })
</script>
</body>
</html>