<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>mgrCounts</title>
    <script src="/live/js/jquery-3.4.1.js"></script>
    <script src="/live/js/url.js"></script>
    <script src="/live/js/utils.js"></script>
    <script src="/live/js/request_log.js"></script>
</head>
<body style="background: #393D49">
    offset: <input id="ipt_offset" type="number" style="margin-right: 20px;" value="0">
    size: <input id="ipt_size" type="number" style="margin-right: 20px;" value="20">
    <button id="btn_getCounts" style="margin-right: 20px;">OK</button>
    <button id="btn_next" style="margin-right: 20px;">next</button>
    <button id="btn_back" style="margin-right: 20px;">back</button>

    <h1 style="color: #01AAED" th:text="|total request count: ${data.msg}|"></h1>
    <div style="color: white">
        <table border="2px">
            <tr>
                <th>no</th>
                <th>model</th>
                <th>os</th>
                <th>user agent</th>
                <th>version webkit</th>
                <th>version build</th>
                <th>ip</th>
                <th>time</th>
            </tr>
            <tr th:each="info,myState : ${data.data}">
                <td th:text="${myState.index}">1</td>
                <td th:text="${info.deviceModel}">iPhone</td>
                <td th:text="${info.deviceOs}">ios</td>
                <td th:text="${info.userAgent}">weChat</td>
                <td th:text="${info.versionWebkit}">no</td>
                <td th:text="${info.versionBuild}">no</td>
                <td th:text="${info.requestIP}">127.0.0.1</td>
                <td th:text="${info.requestTime}">2020-5-20</td>
            </tr>
        </table>
    </div>
</body>
</html>